* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v36_855 {
  width: 100%;
  height: 2759px;
  background: rgba(79,44,42,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v36_857 {
  width: 274px;
  height: 390px;
  background: url("../images/v36_857.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1705px;
  left: 0px;
  overflow: hidden;
}
.v36_920 {
  width: 394px;
  height: 100%;
  background: url("../images/v36_920.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 892px;
  left: 1px;
  overflow: hidden;
}
.v36_928 {
  width: 100%;
  height: 897px;
  background: url("../images/v36_928.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 1px;
  overflow: hidden;
}
.v36_867 {
  width: 589px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 227px;
  left: 446px;
  font-family: Product Sans Black;
  font-weight: Regular;
  font-size: 80px;
  opacity: 1;
  text-align: center;
}
.v36_868 {
  width: 671px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 433px;
  left: 384px;
  font-family: Product Sans;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v36_931 {
  width: 214px;
  height: 47px;
  background: url("../images/v36_931.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 593px;
  left: 626px;
  overflow: hidden;
}
.v36_871 {
  width: 100%;
  height: 100px;
  background: url("../images/v36_871.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 85px;
  overflow: hidden;
}
.v36_872 {
  width: 536px;
  height: 35px;
  background: url("../images/v36_872.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 388px;
  overflow: hidden;
}
.v36_873 {
  width: 112px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Product Sans Black;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v36_874 {
  width: 153px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 382px;
  font-family: Product Sans Black;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v36_875 {
  width: 130px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 182px;
  font-family: Product Sans Black;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v36_876 {
  width: 181px;
  height: 45px;
  background: url("../images/v36_876.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 1011px;
  overflow: hidden;
}
.v36_877 {
  width: 181px;
  height: 45px;
  background: rgba(239,159,67,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v36_878 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 37px;
  font-family: Product Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v36_879 {
  width: 277px;
  height: 95px;
  background: url("../images/v36_879.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v36_880 {
  width: 789px;
  height: 1374px;
  background: rgba(210,210,210,0.5);
  opacity: 1;
  position: absolute;
  top: 1198px;
  left: 326px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 9px 10px 6px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v36_881 {
  width: 151px;
  height: 60px;
  background: rgba(165,255,94,1);
  opacity: 1;
  position: absolute;
  top: 1264px;
  left: 322px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v36_882 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1282px;
  left: 350px;
  font-family: Product Sans Medium;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v36_883 {
  width: 341px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1208px;
  left: 173px;
  font-family: Product Sans Medium;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v36_884 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1210px;
  left: 131px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v36_885 {
  width: 25px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 700px;
  left: 131px;
  border-radius: 50%;
}
.v36_886 {
  width: 25px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 739px;
  left: 131px;
  border-radius: 50%;
}
.v36_887 {
  width: 534px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 131px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v36_888 {
  width: 534px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 270px;
  left: 131px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v36_889 {
  width: 534px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 376px;
  left: 131px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v36_890 {
  width: 534px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 487px;
  left: 131px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v36_891 {
  width: 534px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 592px;
  left: 131px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v36_892 {
  width: 114px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 129px;
  left: 138px;
  font-family: Product Sans Black;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v36_893 {
  width: 198px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 231px;
  left: 137px;
  font-family: Product Sans Black;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v36_894 {
  width: 114px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 337px;
  left: 137px;
  font-family: Product Sans Black;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v36_895 {
  width: 114px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 448px;
  left: 137px;
  font-family: Product Sans Black;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v36_896 {
  width: 114px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 559px;
  left: 138px;
  font-family: Product Sans Black;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v36_897 {
  width: 114px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 658px;
  left: 131px;
  font-family: Product Sans Black;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v36_898 {
  width: 99px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 700px;
  left: 160px;
  font-family: Product Sans Black;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v36_899 {
  width: 130px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 739px;
  left: 140px;
  font-family: Product Sans Black;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v36_900 {
  width: 467px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 161px;
  font-family: Product Sans Black;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v36_901 {
  width: 534px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 806px;
  left: 138px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v36_902 {
  width: 534px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 901px;
  left: 137px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v36_903 {
  width: 534px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 996px;
  left: 136px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v36_904 {
  width: 534px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1109px;
  left: 136px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v36_905 {
  width: 62px;
  height: 49px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 806px;
  left: 688px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v36_906 {
  width: 62px;
  height: 49px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 901px;
  left: 687px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v36_907 {
  width: 62px;
  height: 49px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 996px;
  left: 687px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v36_908 {
  width: 62px;
  height: 49px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1109px;
  left: 687px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v36_909 {
  width: 123px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1072px;
  left: 110px;
  font-family: Product Sans Black;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v36_910 {
  width: 123px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 778px;
  left: 110px;
  font-family: Product Sans Black;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v36_911 {
  width: 123px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 873px;
  left: 110px;
  font-family: Product Sans Black;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v36_912 {
  width: 123px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 968px;
  left: 110px;
  font-family: Product Sans Black;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v36_913 {
  width: 47px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 822px;
  left: 698px;
  font-family: Product Sans Medium;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v36_914 {
  width: 47px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 917px;
  left: 697px;
  font-family: Product Sans Medium;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v36_915 {
  width: 47px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1012px;
  left: 697px;
  font-family: Product Sans Medium;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v36_916 {
  width: 47px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1125px;
  left: 697px;
  font-family: Product Sans Medium;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v36_943 {
  width: 345px;
  height: 100%;
  background: url("../images/v36_943.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1139px;
  left: 1095px;
  overflow: hidden;
}


